@page
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    @model IndexModel
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Shop</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="category.html">Shop</a>
                    <a href="category.html">Women Fashion</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Inspired Product Area =================-->
<section class="section_gap">
    <div class="container">

        <div class="row">
            @foreach (var item in Model.ShopModel.CatalogItems)
            {
                <partial name="_Product" for="@item" />
            }

        </div>
    </div>
</section>
<!--================ End Inspired Product Area =================-->
<partial name="_Pagination" for="ShopModel.PaginationInfo" />
